[submodule "order_management"]
	path = order_management
	url = https://github.com/Rahman2001/order_management.git
[submodule "user_management"]
	path = user_management
	url = https://github.com/Rahman2001/user_management.git
[submodule "product_management"]
	path = product_management
	url = https://github.com/Rahman2001/product_management.git
[submodule "web_ui"]
	path = web_ui
	url = https://github.com/Rahman2001/web_ui.git
[submodule "delivery_management"]
	path = delivery_management
	url = https://github.com/Rahman2001/delivery_management.git
[submodule "payment_management"]
	path = payment_management
	url = https://github.com/Rahman2001/payment_management.git
